@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
:root {
  --space-lblue: #80bdf2;
  --space-blue: #4a6d8c;
  --space-ddblue: #223240;
  --space-tblue: #a2f2f2;
  --space-black: #0d0d0d;
}
body {
  font-family: "Open Sans";
  /*
  background: url(https://wallin.fi/paul/assets/img/space_bg_1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  */
  background: rgb(168, 47, 29);
  background: radial-gradient(
    circle,
    rgba(168, 47, 29, 1) 8%,
    rgba(245, 90, 66, 1) 90%
  );
  color: #ccf75b;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
#app {
  box-sizing: border-box;
  padding: 0 20px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  min-height: 100vh;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
a {
  color: #151612;
  font-weight: 600;
  background-color: transparent;
}

img {
  border-style: none;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pacifico";
  /*color: var(--space-tblue);*/
  color: #222;
}
h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  font-family: "Pacifico";
  text-align: center;
  letter-spacing: 0.1rem;
  width: 100%;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
  color: rgb(253, 235, 235);
}
.skills h1 {
  font-size: 3rem;
  font-weight: 500;
  margin: .5rem;
  padding: .5rem;
}
.index h1::first-letter {
  letter-spacing: -0.6rem;
}
h2 {
  font-size: 38px;
  font-weight: 700;
}
h3 {
  font-size: 28px;
  font-weight: 700;
}
h4 {
  font-size: 21px;
  font-weight: 700;
}
h5 {
  font-size: 16px;
  font-weight: 700;
}
h6 {
  font-size: 15px;
  font-weight: 700;
}
p, ul {
  color: #222222;
}
article ul { 
  margin: 0;
  padding: 1rem;
  display: flex; 
  flex-wrap: wrap;
  list-style: none; 
  justify-content: flex-start;
  
}
article li { 
  display: inline; 
  flex: 1;
  padding: 5px; 
  background-color: #ccc;
  margin: 2px;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}

.-text-primary {
  color: var(--space-lblue);
}
.-text-base {
  color: var(--space-lblue);
}
.-text-error {
  color: tomato;
}
.-text-gray {
  color: var(--space-black);
}
.-shadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.13);
}
/*= Brand
    ****************/
.brand {
  font-family: "Pacifico", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  color: #333;
  text-decoration: none;
}
.brand.nuxt-link-exact-active {
  color: #333;
}

/* =NAVIGATION
*****************/
.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #f55a42;
}
.nav .nav-item {
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.nav .nav-item.router-link-exact-active {
  /*color: var(--space-tblue);
  border-bottom: solid 2px var(--space-blue);*/
}
.nav a {
  display: inline-block;
  padding: 5px 15px;
  transition: all .5s;
  text-decoration: none;
}
.nav a:hover {
  background-color: rgba(168, 47, 29, .6);
}
.nav .nuxt-link-exact-active {  
  background-color: rgba(71, 37, 32, 1);
  color: #fff;
} 
.nav .nuxt-link-exact-active:hover {  
  background-color: rgba(71, 37, 32, 1);
}
.brand.nuxt-link-exact-active {  
  color: #fff;
  background-color: transparent;
}
/*=LAYOUT
**********************/
.container {
  position: relative;
  max-width: 1200px;
  height: 100%;
  text-align: center;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
article {
  position: relative;
  width: 100%;
}
.index > article {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.container section {
  position: relative;
  display: grid;
  grid-gap: 5px;
}
section article {
  min-height: 100px;
  background: rgb(253, 242, 242);
}
section article h1 {
  color: #2556a8;
}

@media (min-width: 620px) {
  .container section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  section article {
    min-height: 300px;
  }
}
@media (max-width: 800px) {
  h1 {
    font-size: 4rem;
    line-height: 1.2;
  }
  .container section {
    grid-template-columns: 1fr 1fr;
  }
}

/* =PAGE animations 
***********************/
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}
.bounce-enter-active {
  animation: bounce-in 0.8s;
}
.bounce-leave-active {
  animation: bounce-out 0.5s;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0);
  }
}
