
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
:root {
  --space-lblue: #80BDF2;
  --space-blue: #4A6D8C;
  --space-ddblue: #223240;
  --space-tblue: #A2F2F2;
  --space-black: #0D0D0D;
}
body {
  font-family: 'Open Sans';
  background: url(https://wallin.fi/paul/assets/img/space_bg_1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: var(--space-lblue);
}
.container {
  text-align: center;
  transition: all .5s cubic-bezier(.55,0,.1,1);
}

    html {
      -webkit-text-size-adjust: 100%;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    body {
      margin: 0;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      line-height: 1.5;
    }
    #app {
      box-sizing: border-box;
      width: 500px;
      padding: 0 20px 20px;
      margin: 0 auto;
    }
    hr {
      box-sizing: content-box;
      height: 0;
      overflow: visible;
    }
    a {
      color: var(--space-blue);
      font-weight: 600;
      background-color: transparent;
    }
    img {
      border-style: none;
      width: 100%;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: 'Pacifico';
      color: var(--space-tblue);
    }
    h1 {
      font-size: 50px;
      font-weight: 700;
      font-family: 'Pacifico';
      text-align: center;
    }
    h2 {
      font-size: 38px;
      font-weight: 700;
    }
    h3 {
      font-size: 28px;
      font-weight: 700;
    }
    h4 {
      font-size: 21px;
      font-weight: 700;
    }
    h5 {
      font-size: 16px;
      font-weight: 700;
    }
    h6 {
      font-size: 15px;
      font-weight: 700;
    }
    b,
    strong {
      font-weight: bolder;
    }
    small {
      font-size: 80%;
    }
    .eyebrow {
      font-size: 20px;
    }
    .-text-primary {
      color:  var(--space-lblue);
    }
    .-text-base {
      color:  var(--space-lblue);
    }
    .-text-error {
      color: tomato;
    }
    .-text-gray {
      color:  var(--space-black);
    }
    .-shadow {
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.13);
    }
    /*= Brand
    ****************/
.brand {
  font-family: 'Pacifico', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  color: var(--space-blue);
  text-decoration: none;
}

/* =NAVIGATION
*****************/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.nav .nav-item {
  box-sizing: border-box;
  margin: 0 5px;
  padding: 5px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.nav .nav-item.router-link-exact-active {
  color: var(--space-tblue);
  border-bottom: solid 2px var(--space-blue);
}
.nav a {
  display: inline-block;
}

/*=LAYOUT
**********************/
.container {
  max-width: 1200px;
  background-color: var(--space-black)
}


/* =PAGE animations 
***********************/
.page-enter-active, .page-leave-active {
  transition: opacity .5s
}
.page-enter, .page-leave-active {
  opacity: 0
}
.bounce-enter-active {
  animation: bounce-in .8s;
}
.bounce-leave-active {
  animation: bounce-out .5s;
}
@keyframes bounce-in {
  0% { transform: scale(0) }
  50% { transform: scale(1.5) }
  100% { transform: scale(1) }
}
@keyframes bounce-out {
  0% { transform: scale(1) }
  50% { transform: scale(1.5) }
  100% { transform: scale(0) }
}
